* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4%;
}
#header {
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header img {
  width: 120px;
}

#nav {
  display: flex;
  padding: 10px 0;
}

#nav li {
  margin-left: 30px;
  list-style: none;
}
#nav li a {
  color: #000000;
}

#nav li img {
  width: 20px;
}

#main_visual img {
  width: 100%;
  object-fit: cover;
  height: 420px;
  margin-bottom: 60px;
}

.title {
  text-align: center;
  margin: 30px auto;
}

#name {
  margin-bottom: 20px;
}

.add {
  margin: 0 auto;
}

#text {
  margin: 20px auto;
}

#works {
  max-width: 100%;
  justify-content: space-between;
}

#img_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
}

#img_box img {
  width: 30%;
  object-fit: cover;
  margin-bottom: 23px;
}