* {
  margin: 0;
  height: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
}

#header {
  margin-top: 60px;
}

#site_logo img {
  width: 180px;
  height: auto;
}
#main_visual img {
  height: auto;
  max-width: 1000px;
}
